{% extends 'base.html' %}
{% block content %}

<h1>About the Finch Collector</h1>
<hr>
<p class="font-monospace">The "FinchCollector" application is a specialized mobile app designed for birdwatching enthusiasts, specifically targeting those interested in finches. The app offers several key features:

    Species Identification: Utilizing advanced AI algorithms, FinchCollector can identify different finch species from user-uploaded photos. It provides detailed information about each species, including their habitat, feeding habits, and migration patterns.
    Location Tracking and Hotspots: The app tracks the user's location to suggest nearby hotspots where finches are commonly sighted. It integrates with a global map, showcasing regions where specific finch species have been observed.
    Birdwatching Journal: Users can maintain a personal birdwatching journal within the app. They can log their sightings, upload photos, and jot down notes about each encounter.
    Community Features: FinchCollector fosters a community of finch enthusiasts. Users can share their sightings, participate in discussions, and even organize local birdwatching events.
    Educational Resources: The app includes a rich library of educational resources about finches. This ranges from beginner guides to in-depth articles about conservation efforts.
    Customizable Notifications: Users can set up alerts for when certain finch species are sighted in their area, or when there are updates from the birdwatching community.
    Overall, FinchCollector aims to enhance the birdwatching experience by providing comprehensive tools and resources for finch enthusiasts.</p>


{% endblock %}