{% extends 'base.html'%}
{% block content%}

<h1>{{finch.name| capfirst}}'s Detail</h1>

    <div class="card container-sm bg-primary opacity-75">
            <div class="card-content text-white text-start">
                <span class="card-title"><strong>{{finch.name| capfirst}}</strong></span>
                <br>
                <br>
                <p>{{finch.name| capfirst}}'s breed is {{finch.breed}}</p>
                <p>threats: {{finch.threats}}</p>
                <p>{{finch.name| capfirst}} resides is in  {{finch.habitat}}.</p>
            </div>
        </a>
    </div>


{% endblock %}