{% extends 'base.html'%}
{% block content%}

<h1>Finch List</h1>
<a href="{% url 'finch_create'%}"> Add a Finch here!</a>
{% for finch in finches %}
    <div class="card container-sm bg-primary opacity-75">
        <a href="{% url 'detail' finch.id%}">
            <div class="card-content text-white text-start">
                <span class="card-title"><strong>{{finch.name| capfirst}}</strong></span>
                <br>
                <br>
                <p>{{finch.name| capfirst}}'s breed is {{finch.breed}}</p>
                <p>threats: {{finch.threats}}</p>
                <p>{{finch.name| capfirst}} resides is in  {{finch.habitat}}.</p>
            </div>
        </a>
    </div>
{%endfor%}





{% endblock %}